.full-stack-section {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: white;
    border-radius: 16px;
    border: 2px solid black; */
    max-width: 744px;
    margin: auto;
}

.tech-stack-grid {
    padding-top: 16px;
    /* background-color: white; */
}

/* Heading CSS for tech stack + icon */
.tech-stack-heading-layout {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    /* gap: 20px; */
    font-family: var(--font-heading);
    /* justify-content: ; */
    width: 400px;
}
.tech-stack-heading-layout h3 {
    font-family: var(--font-secondary);
    font-size: 1.2rem;
}
.tech-heading {
    padding: 0px;
    margin: 0px;
    font-size: 10rem;
}
.stack-heading-container {
    display: flex;
    align-items: center;
    gap: 20px;
}
.stack-heading-container h1 {
    font-size: 5rem;
    padding: 0px 0px 10px 0px;
    margin: 0px;
}
.stack-heading-container img {
    width: 6rem;
    height: 6rem;
}

/* Provide subtle animation when hovering over tech stack icons */
.tech-stack-icons img {
    transition: 0.2s ease-in-out;
}
.tech-stack-icons img:hover {
    transform: scale(1.1) translateY(-4px);
}

/* Adjust height of all tech stack icons to same height */
.tech-stack-icons img {
    height: 40px;
}

.tech-stack-icons {
    display: flex;
    gap: 30px;
    margin: 24px 0px 24px 24px;
    justify-content: center;
    background-color: white;
    border: 2px solid black;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.485);
    padding: 8px 24px;
    border-radius: 16px;
}

@media screen and (max-width: 775px) {
    .full-stack-section {
        flex-direction: column;
        width: 80dvw;
    }

    .tech-stack-heading-layout {
        width: 80dvw;
        align-items: center;
    }

    .tech-stack-heading-layout h3 {
        font-family: var(--font-secondary);
        font-size: 1rem;
    }
    .tech-heading {
        padding: 0px;
        margin: 0px;
        /* font-size: 8rem; */
        font-size: clamp(5rem, 40vw, 10rem);
    }
    .stack-heading-container {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .stack-heading-container h1 {
        font-size: clamp(2.5rem, 20vw, 5rem);
        padding: 0px 0px 10px 0px;
        margin: 0px;
    }
    .stack-heading-container img {
        width: clamp(3rem, 30vw, 6rem);
        height: 6rem;
    }

    /* .tech-stack-heading-layout {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        width: 80dvw;
    }
    .tech-stack-heading-layout h3 {
        font-family: var(--font-secondary);
        font-size: clamp(16px, 20px, 24px);
        text-align: center;
        grid-row: 2 / -1;
        grid-column: 1 / -1;

    }
    .tech-heading {
        padding: 0px;
        margin: 0px;
        font-size: 5rem;
        grid-row: 1 / 2;
        text-align: right;
    }
    .stack-heading-container {
        display: flex;
        align-items: center;
        gap: 20px;
        grid-row: 1 / 2;
    }
    .stack-heading-container h1 {
        font-size: 5rem;
        padding: 0px 0px 10px 0px;
        margin: 0px;
    }
    .stack-heading-container img {
        width: 6rem;
        height: 6rem;
    } */
    .tech-stack-grid {
        width: 80dvw;
    }
    .tech-stack-icons {
        flex-wrap: wrap;
        margin-left: 0px;
        gap: 7%;
    }

    /* Media queries for blog title */
    .about-heading h1 {
        font-size: clamp(2.5rem, 20vw, 5rem);
    }
    .about-heading img {
        width: clamp(1.5rem, 10vw, 3rem);
        height: clamp(1.5rem, 10vw, 3rem);
    }
}

@media screen and (min-width: 1280px) {
    
}

/* end of tech-stack test */




.about-heading {
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: var(--font-heading);
    font-size: 1.5rem;
    justify-content: center;
}

.about-heading img {
    width: 3rem;
    height: 3rem;
}

@media screen and (max-width: 440px) {
    .about-heading {
        font-size: 1.2rem;
    }
}


/* Styling for Blogs Section */
.blog-collection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    margin: 24px;
    max-width: 400px;
    margin: auto;
    padding: 16px;
}

.blog-tile {
    display: flex;
    align-items: center;
    background-color: white;
    border: 3px solid black;
    border-radius: 16px;
    width: 740px;
    height: 100px;
    font-family: var(--font-secondary);
    overflow: hidden;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.485);
}

@media screen and (max-width: 775px) {
    .blog-tile {
        width: 80vw;
    }
}

.blog-collection a {
    text-decoration: none;
    transition: 0.1s ease-in-out;
}

.blog-collection a:hover {
    transform: scale(1.05);
}

.blog-tile img {
    width: 120px;
    height: 150px;
    border-right: 2px solid black;
}

.blog-text {
    padding: 0px 16px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: black;
}

.blog-title {
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}

.blog-date {
    font-size: 16px;
    text-align: left;
    margin: 0px;
    padding: 0px;
}

/* @media screen and (min-width: 440px) {
    .blog-text {
        flex-direction: row;
        justify-content: center;
        gap: 16px;
    }

    .blog-title {
        margin-bottom: 16px
    }

    .blog-tile {

    }
} */

/* Playlist Section Styling */

.playlist {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 40px;
}

.song-text h2 {
    font-family: var(--font-heading)
}

.song-text {
    font-family: var(--font-secondary);
    padding: 4px 8px;
}

.song-text > * {
    margin: 4px;
}

.playlist-item {
    background-color: white;
    width: 740px;
    margin: auto;
    border: 2px solid black;
    border-radius: 16px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.485);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.playlist-item img {
    transition: 0.1s ease-in-out;
}

.playlist-item img:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.play-btn {
    width: 75px;
    height: 75px;
    margin: 3px 16px 0px 0px;
}

@media screen and (max-width: 775px) {
    .playlist-item {
        width: 80vw;
    }
}

/* CSS for animated "See my projects" button --> Links to projects.html Page */
.btn-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projects-btn-div {
    height: 40px;
    margin-bottom: 40px;
    background-color: black;
    color: white;
    border-radius: 15px;
    font-size: 16px;
    font-family: var(--font-secondary);
    width: 293.5px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.41' height='12' viewBox='0 0 7.41 12'%3E%3Cpath d='M10,6,8.59,7.41,13.17,12,8.59,16.59,10,18l6-6Z' transform='translate(-8.59 -6)' fill='%23fff'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 24px center;
    transition: 0.1s ease-in-out;
}

#projects-btn-div:hover {
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.414);
}