.about-heading {
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: var(--font-heading);
    font-size: 1.5rem;
    justify-content: center;
}

.about-heading img {
    width: 3rem;
    height: 3rem;
}

@media screen and (max-width: 440px) {
    .about-heading {
        font-size: 1.2rem;
    }
}

/* Provide layout of expertise tiles using flexbox. Max width 800 to prevent tiles from creating more than 2 columns. Margin auto to keep tiles center of page */
.tech-stack {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px;
    margin: auto;
    padding: 16px;
    gap: 16px;
}

/* Provide layout to content within expertise tile and general tile styling */
.expertise-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 16px;
}

@media screen and (max-width: 775px) {
    .expertise-tile {
        width: 80vw;
    }
    #frontend-bg {
        background-size: 100%;
    }
    #backend-bg {
        background-size: 100%;
    }
    #database-bg {
        background-size: 100%;
    }
    #tools-bg {
        background-size: 100%;
    }
}

/* Give heading font, background transparent with blur effect. Also align text to center*/
.expertise-heading {
    font-family: var(--font-secondary);
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.928);
    backdrop-filter: blur(20px);
    border: 2px solid black;
    border-radius: 16px;
    padding: 4px 16px;
    min-width: 150px;
    text-align: center;
}

/* Give icons background color & border and positioning to middle of tile */
.tech-stack-icons {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.928);
    padding: 8px 16px;
    min-width: 200px;
    border: 2px solid black;
    border-radius: 16px;
}

/* Provide subtle animation when hovering over tech stack icons */
.tech-stack-icons img {
    transition: 0.2s ease-in-out;
}
.tech-stack-icons img:hover {
    transform: scale(1.1) translateY(-4px);
}

/* Adjust height of all tech stack icons to same height */
.tech-stack-icons img {
    height: 35px;
}

/* Adding background images to expertise tiles */
#frontend-bg {
    background-image: url(../images/frontend2-bg-unsplash-360w.jpg);
}
#backend-bg {
    background-image: url(../images/backend-bg-unsplash-360w.jpg);
}
#database-bg {
    background-image: url(../images/database2-bg-unpslash-360w.jpg);
}
#tools-bg {
    background-image: url(../images/version2-ctrl-unsplash-360w.jpg);
}

/* Styling for Blogs Section */
.blog-collection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    margin: 24px;
    max-width: 800px;
    margin: auto;
    padding: 16px;
}

.blog-tile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border: 2px solid black;
    border-radius: 16px;
    width: 360px;
    height: 100px;
    font-family: var(--font-secondary);
    overflow: hidden;
}

@media screen and (max-width: 775px) {
    .blog-tile {
        width: 80vw;
    }
}

.blog-collection a {
    text-decoration: none;
    transition: 0.1s ease-in-out;
}

.blog-collection a:hover {
    transform: scale(1.05);
}

.blog-tile img {
    width: 120px;
    height: 150px;
    border-right: 2px solid black;
}

.blog-text {
    padding: 0px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black;
}

.blog-title {
    font-size: 16px;
    margin-bottom: 0px
}

.blog-date {
    font-size: 16px;
    text-align: end;
}

/* Playlist Section Styling */

.playlist {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 40px;
}

.song-text h2 {
    font-family: var(--font-heading)
}

.song-text {
    font-family: var(--font-secondary);
    padding: 4px 8px;
}

.song-text > * {
    margin: 4px;
}

.playlist-item {
    background-color: white;
    width: 740px;
    margin: auto;
    border: 2px solid black;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.playlist-item img {
    transition: 0.1s ease-in-out;
}

.playlist-item img:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.play-btn {
    width: 75px;
    height: 75px;
    margin: 3px 16px 0px 0px;
}

@media screen and (max-width: 775px) {
    .playlist-item {
        width: 80vw;
    }
}

/* CSS for animated "See my projects" button --> Links to projects.html Page */
.btn-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projects-btn-div {
    height: 40px;
    margin-bottom: 40px;
    background-color: black;
    color: white;
    border-radius: 15px;
    font-size: 16px;
    font-family: var(--font-secondary);
    width: 293.5px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.41' height='12' viewBox='0 0 7.41 12'%3E%3Cpath d='M10,6,8.59,7.41,13.17,12,8.59,16.59,10,18l6-6Z' transform='translate(-8.59 -6)' fill='%23fff'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 24px center;
    transition: 0.1s ease-in-out;
}

#projects-btn-div:hover {
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.414);
}