main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-heading {
    display: flex;
    flex-direction: column;
    font-family: var(--font-heading);
    font-size: 2rem;
    margin: 0px 24px;
}

/* Targets all children of .blog heading. Minimising gap between title and date */
.blog-heading > * {
    margin: 10px;
}

/* Adjusting date of blog to be smaller in size than title */
.blog-date {
    font-size: 20px;
    font-family: var(--font-secondary);
}

.blog-content {
    max-width: 800px;
    margin: auto;
    background-color: white;
    border: 3px solid black;
    border-radius: 16px;
    overflow: hidden;
}

.blog-text {
    padding: 24px;
    text-align: center;
    font-family: var(--font-secondary);
}

#prev-btn-div {
    height: 40px;
    background-color: white;
    color: black;
    border-radius: 15px;
    font-size: 16px;
    font-family: var(--font-secondary);
    width: 293.5px;
    transition: 0.1s ease-in-out;
}

#prev-btn-div:hover {
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.484);
}

#next-btn-div {
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 15px;
    font-size: 16px;
    font-family: var(--font-secondary);
    width: 293.5px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.41' height='12' viewBox='0 0 7.41 12'%3E%3Cpath d='M10,6,8.59,7.41,13.17,12,8.59,16.59,10,18l6-6Z' transform='translate(-8.59 -6)' fill='%23fff'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 24px center;
    transition: 0.1s ease-in-out;
}

#next-btn-div:hover {
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.429);
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px;
    gap: 32px;
}


@media screen and (max-width: 992px) {
    .blog-content {
        max-width: 84dvw;
    }
}

@media screen and (max-width: 800px) {
    .blog-heading {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 557px) {
    .blog-date {
        display: inline;
        align-items: flex-start;
    }
}

@media screen and (min-width: 558px) {
    .blog-heading {
        align-items: center;
    }
}