/* Centred Layout for main section using flex box */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
}

/* Styling for Profile picture with responsiveness */
.profile img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 5px solid black;
    margin-left: 24px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.485);
}

@media screen and (min-width: 699px) {
    .profile {
        display: flex;
        justify-content: center;
        margin: 0px;
    }
    .profile img {
        height: 150px;
        width: 150px;
    }
}

.profile img:hover {
    transform: scale(1.25);
    box-shadow: 0 0 25px rgb(0, 0, 0);
}

.intro-heading {
    font-family: var(--font-heading);
    font-size: 30px;
    padding-left: 24px;
    padding-right: 24px;
}

.intro-heading h1 {
    transition: 0.3s ease-in-out;
}

.intro-heading h1:hover {
    transform: scale(1.1) translateY(-8px);
}

@media screen and (max-width: 698px) {
    .intro-heading h1:hover {
        transform: translate(20px);
    }
    .profile img:hover {
        transform: translate(20px);
    }
}

@media screen and (min-width: 699px) {
    .intro-heading {
        display: flex;
        justify-content: center;
        gap: 24px;
    }
}

.intro-text {
    font-family: var(--font-secondary);
    text-align: center;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    justify-content: center;
}

.intro-text p {
    max-width: 800px;
}

/* Styling for testimonial section */
.review-grid {
    margin-bottom: 16px;
}

.testimonial-main-heading {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: var(--font-heading);
    font-size: 1.2rem;
    justify-content: center;
}

.testimonial-main-heading img {
    width: 2.4rem;
    height: 2.4rem;
}

.reviews {
    font-family: var(--font-secondary);
    gap: 1rem;
    width: 85dvw;
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-areas:
    'one'
    'two'
    'three'
    'four';
}

/* Add quotation styling to first and fourth testimonial tile */
.flex-review-content:nth-child(1)::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 60px;
    right: 20px;
    top: 0;
    background-image: url(../images/quote-left-solid.svg);
    background-size: contain;
}

.flex-review-content:nth-child(4)::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 60px;
    transform: rotate(180deg);
    right: 20px;
    top: 0;
    background-image: url(../images/quote-left-solid.svg);
    background-size: contain;
}

.flex-review-content:nth-child(1) {
    grid-area: one;
    background-color: #364F74;
    color: white;
    position: relative;
    transition: 0.1s ease-in-out;
}
.flex-review-content:nth-child(2) {
    grid-area: two;
    background-color: #B3C6DB;
    color: black;
    transition: 0.1s ease-in-out;
}
.flex-review-content:nth-child(3) {
    grid-area: three;
    background-color: #FFF5C7;
    color: black;
    transition: 0.1s ease-in-out;
}
.flex-review-content:nth-child(4) {
    grid-area: four;
    background-color: #1A2334;
    color: white;
    position: relative;
    transition: 0.1s ease-in-out;
}

.flex-review-content:nth-child(1):hover {
    transform: scale(1.02);
    box-shadow: 0 0 50px #364F74;
}
.flex-review-content:nth-child(2):hover {
    transform: scale(1.02);
    box-shadow: 0 0 50px #B3C6DB;
}
.flex-review-content:nth-child(3):hover {
    transform: scale(1.02);
    box-shadow: 0 0 50px #FFF5C7;
}
.flex-review-content:nth-child(4):hover {
    transform: scale(1.02);
    box-shadow: 0 0 50px #1A2334;
}

@media screen and (min-width: 699px) {
    .reviews {
        grid-template-areas:
        'one one two'
        'three four four';
        }
}

.flex-review-content {
    border: 2px solid black;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.485);
}

.reviewer-details {
    display: flex;
    align-items: center;
    gap: 8px;
}

.reviewer-details img {
    height: 3rem;
    border: 2px solid black;
    border-radius: 50px;
}

.reviewer-name-container {
    display: flex;
    flex-direction: column;
}

.reviewer-name-container > * {
    margin: 0px;
}

.reviewer-name {
    font-weight: bold;
}

.review-highlight {
    font-weight: bold;
}

.education-experience {
    padding-left: 24px;
    padding-right: 24px;
}

.education-main-heading {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: var(--font-heading);
    font-size: 1.2rem;
    justify-content: center;
}

.education-main-heading img {
    width: 2.4rem;
    height: 2.4rem;
    transform: rotate(-45deg);
}

/* Interactive Accordion Styling to Education & Experience section */
.accordion {
    max-width: 800px;
    margin: auto;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.33);
    border-radius: 10px;
    overflow: hidden;
    font-family: var(--font-heading);
    background: black;
}

.accordion__label {
    padding: 14px 20px;
}

.accordion__content {
    padding: 14px 20px;
}

.accordion__label {
    display: block;
    color: white;
    font-weight: 500;
    font-size: 24px;
    cursor: pointer;
    position: relative;
    transition: background 0.5s;
}

.accordion__label:hover {
    background: rgba(255, 255, 255, 0.88);
    color: black;
}

/* Styling for Triangle animation to indicate checked/not checked */
.accordion__label::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    width: 12px;
    height: 6px;
    background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23FFFFFF99;" /></svg>');
    background-size: contain;
    transition: transform 0.4s;
}

/* Animation for triangle to turn 180 degrees */
.accordion__input:checked ~ .accordion__label::after {
    transform: rotate(0.5turn);
}

.accordion__content a {
    color: black;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.frasers-heading {
    display: flex;
    align-items: center;
    gap: 24px;
}

.frasers-heading a:hover {
    transform: scale(1.1);
}

.coder-academy-section a:hover {
    transform: scale(1.1);
}

.unsw-section a:hover {
    transform: scale(1.1);
}

.frasers-heading img {
    width: 48px;
    height: 48px;
}

/* Flexbox layout for Frasers Property Australia Work Experience Card */
.frasers-roles {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.frasers-role {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.811);
    /* background-color: transparent;
    backdrop-filter: blur(40px); */
    border-radius: 20px;
    padding: 0px 16px;
    border: 4px solid black;
    font-size: 20px;
}

.frasers-role > * {
    font-family: var(--font-secondary)
}

@media screen and (max-width: 625px) {
    .frasers-role {
        flex-direction: column;
        text-align: center;
    }
    .frasers-role > * {
        margin: 0.5rem;
    }
}

.coder-academy-section {
    display: flex;
    align-items: center;
    gap: 20px;
}

.unsw-section {
    display: flex;
    align-items: center;
    gap: 20px;
}

.education-heading {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.92);
    margin: 10px;
    border-radius: 20px;
    padding: 16px;
    border: 4px solid black;
}

.education-role {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}

.education-role > * {
    font-family: var(--font-secondary)
}

.education-role p {
    white-space: nowrap;
}

@media screen and (max-width: 841px) {
    .education-role {
        flex-direction: column;
        text-align: center;
    }
    .education-role > * {
        margin: 0.5rem;
    }
}

.education-heading img {
    width: 48px;
    height: 48px;
}

.accordion__content {
    background: white;
    line-height: 1.6;
    font-size: 0.85em;
    display: none;
}

/* Hides checkbox from being seen by user */
.accordion__input {
    display: none;

}

/* When accordion__input is checked, the following sibling named .accordion__content will be displayed */
.accordion__input:checked ~ .accordion__content {
    display: block;
}

#work-exp-background {
    background-image: url(../images/fpa-bg1-unsplash.jpg);
    background-size: 800px;
    background-repeat: none;
}

#education-background {
    background-image: url(../images/unsw-bg2-unsplash.jpg);
    background-size: 800px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px;
    gap: 32px;
}

#cv {
    height: 40px;
    background-color: white;
    border-radius: 15px;
    font-size: 16px;
    font-family: var(--font-secondary);
    width: 293.5px;
    transition: 0.1s ease-in-out;
}

#cv:hover {
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.519);
}

#about-btn-div {
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 15px;
    font-size: 16px;
    font-family: var(--font-secondary);
    width: 293.5px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.41' height='12' viewBox='0 0 7.41 12'%3E%3Cpath d='M10,6,8.59,7.41,13.17,12,8.59,16.59,10,18l6-6Z' transform='translate(-8.59 -6)' fill='%23fff'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 24px center;
    transition: 0.1s ease-in-out;
}

#about-btn-div:hover {
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.563);
}

@media screen and (max-width: 699px) {
    #about-btn-div  {
        width: 80dvw;
    }
    #cv  {
        width: 80dvw;
    }
}

.lets-work-heading {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: var(--font-heading);
    font-size: 1rem;
    justify-content: center;
}

.lets-work-heading img {
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 24px;
    font-family: var(--font-secondary);
    gap: 8px;
}

.form-elements {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.form-elements label {
    padding: 8px;
    font-size: 1.5rem;
}

.form-input {
    width: 80dvw;
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px 14px;
    outline: none;
    font-size: 1.2rem;
    font-family: var(--font-secondary);
}

/* Resizes width of form inputs to suit larger screens beyond 699px */
@media screen and (min-width: 699px) {
    .form-input {
        width: 80dvw;
        max-width: 776px;
    }
}

.form-input:focus {
    box-shadow: inset 0px 0px 10px 0px rgba(192, 192, 192, 0.592);
}

.form-textarea {
    resize: none;
}

#submit-message {
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 15px;
    font-size: 16px;
    font-family: var(--font-secondary);
    width: 293.5px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.41' height='12' viewBox='0 0 7.41 12'%3E%3Cpath d='M10,6,8.59,7.41,13.17,12,8.59,16.59,10,18l6-6Z' transform='translate(-8.59 -6)' fill='%23fff'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 24px center;
    transition: 0.1s ease-in-out;
}

@media screen and (max-width: 699px) {
    #submit-message {
        width: 80dvw;
    }
}

#submit-message:hover {
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.485);
}