/* Variables: Includes "Lacquer" for main heading font and "Poppins" for small text and subheadings*/
:root {
    --font-heading: "Lacquer";
    --font-secondary: "Poppins";
    --main-background: linear-gradient(rgba(255, 255, 255, 0.354), #c6c6c6)
}

/* CSS Flexbox containing header, main and footer to set layout of general page. Min-height 100svh to ensure footer stays at bottom of page (svh to ensure smoother scrolling on phones when search bar disappears from top  */
body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 100svh;
    justify-content: space-between;
    margin: 0px;
}

/* Adds animation/transition when loading pages. Targets main section/content only. Change transition takes 0.3s. Opacity from 0 to 1. Page also translates upwards by 20px */
main {
    animation: page-transition 0.3s;
}

@keyframes page-transition {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Add padding to move logo away from left corner of page */
#logo {
    padding: 1.5rem;
}
/* Add styling and transition to logo (smiley face emoji ":)" in "Lacquer" font). Sans-serif backup font */
#logo a {
    font-family: var(--font-heading), sans-serif;
    color: black;
    font-size: 3rem;
    text-decoration: none;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    display: inline-block;
}

/* Add transformation and text-shadow when hover over logo */
#logo a:hover {
    transform: scale(1.25) rotate(5deg) translate(2px);
    text-shadow: 0 0 16px black;
}

/* Flexbox to align layout of navigation bar and space between for logo at top and nav items at bottom of flex container */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
/* If max width to nav bar to be applied, uncomment below */
    /* max-width: 1400px;
    margin: auto; */
}

/* Styling for nav items. Layout row, aligned with gap and padding */
#nav-items {
    font-family:var(--font-heading), sans-serif;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 1.5rem ;
}

/* Change nav items from default to black with no underline and add transition 0.1s ease in out to apply scale transformation on hover */
#nav-items a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    font-size: 1.2rem;
}

/* Scale nav item by 1.1 when hovered */
#nav-items a:hover {
    transform: scale(1.1);
}

/* Underlines respective nav item when page is active (check html header section) */
#nav-items a.active {
    text-decoration: underline;
}

/* Remove "home" nav item when viewport is 450px or less. User can still use "logo" to navigate home */
@media screen and (max-width: 450px) {
    #nav-items a:first-child {
        display: none;
    }
}

/* Styling for background of header & main sections */
.page-background {
    background-image: var(--main-background);
}

/* Styling for footer section */
footer {
    background-color: rgb(255, 255, 255);
    border-top: 10px solid rgba(233, 233, 233, 0.503);
    padding: 32px 16px 16px 16px;
    text-align: center;
}

/* Styling for logo located in footer ":)". Similar to main logo but smaller font size */
#footer-logo a {
    font-family: var(--font-heading), sans-serif;
    color: black;
    font-size: 2rem;
    text-decoration: none;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

/* Scale footer logo by 1.1 and add text shadow on hover */
#footer-logo a:hover {
    transform: scale(1.1);
    text-shadow: 0 0 16px black;
}

/* Footer text margin to push up footer text */
.footer-text {
    margin-bottom: 24px;
}

/* Flexbox to lay social media icons in a row and centered. Gap to spread icons apart and margin to separate from footer text */
.social-media {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 24px;
}

/* Styling to change default styling of links. Add circle border and box shadow to create "pop" effect */
.social-media i {
    font-size: 24px;
    color: black;
    background-color: white;
    border: 5px solid black;
    padding: 8px;
    border-radius: 50%;
    box-shadow: 0 0 10px black;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

/* Add transform and box shadow when hovering social media links */
.social-media i:hover {
    transform: scale(1.1);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.452);
}

/* Adjust font to footer with backup font*/
.footer-text {
    font-family: var(--font-secondary), sans-serif;
}


/* Styling for footer nav items. Layout row, aligned centre with gap and padding */
#footer-nav-items {
    font-family:var(--font-secondary), sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 1.5rem ;
}

/* Change footer nav items from default to black with no underline and add transition 0.1s ease in out to apply scale transformation on hover */
#footer-nav-items a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    font-size: 1.2rem;
}

/* Scale nav item by 1.1 when hovered */
#footer-nav-items a:hover {
    transform: scale(1.1);
}

/* Underlines respective footer nav item when page is active (check html header section) */
#footer-nav-items a.active {
    text-decoration: underline;
}

/* Remove "home" nav item when viewport is 450px or less. User can still use "logo" to navigate home */
@media screen and (max-width: 450px) {
    #footer-nav-items a:first-child {
        display: none;
    }
}