/* Flexbox container for content to be column and center */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Flexbox container for blog heading and blog publish date */
.project-heading {
    display: flex;
    flex-direction: column;
    font-family: var(--font-heading);
    font-size: 2rem;
    margin: 0px 24px;
}
/* Apply styling to content section (tile containing text and image) */
.project-content {
    max-width: 800px;
    margin: auto;
    background-color: white;
    border: 3px solid black;
    border-radius: 16px;
    overflow: hidden;
}
/* Applies styling to text for blog */
.project-text {
    padding: 24px;
    text-align: center;
    font-family: var(--font-secondary);
}
/* Applies styling to left button which links to previous project or back to project page */
#prev-btn-div {
    height: 40px;
    background-color: white;
    color: black;
    border-radius: 15px;
    font-size: 16px;
    font-family: var(--font-secondary);
    width: 293.5px;
    transition: 0.1s ease-in-out;
}
/* Animation effects on hover (scale & box shadow) for "previous project" button */
#prev-btn-div:hover {
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.484);
}
/* Applies styling to right button which links to next project or contact page */
#next-btn-div {
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 15px;
    font-size: 16px;
    font-family: var(--font-secondary);
    width: 293.5px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.41' height='12' viewBox='0 0 7.41 12'%3E%3Cpath d='M10,6,8.59,7.41,13.17,12,8.59,16.59,10,18l6-6Z' transform='translate(-8.59 -6)' fill='%23fff'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 24px center;
    transition: 0.1s ease-in-out;
}
/* Animation effects on hover (scale & box shadow) for "next project" button */
#next-btn-div:hover {
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.429);
}
/* Flexbox container for buttons. Allow wrap when screen size gets smaller */
.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px;
    gap: 32px;
}

/* Adjust blog tile/content to 84dvw when screen size is less than 992px wide */
@media screen and (max-width: 992px) {
    .project-content {
        max-width: 84dvw;
    }
}
/* Adjusts blog heading to 1.5em font size when screen size is 800px wide or less */
@media screen and (max-width: 800px) {
    .project-heading {
        font-size: 1.5em;
    }
}
/* Aligns heading and date text to be centred when screen width is 558px or more */
@media screen and (min-width: 558px) {
    .project-heading {
        align-items: center;
    }
}